body{
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2{
    color: #633;
}

form{
    margin-bottom: 20px;
}

input, select, button{
    display: block;
    margin-bottom: 10px;
    padding: 5px;
}